html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: "#131313";
  padding: 0;
}

.App {
  text-align: center;
  background-color: "#131313";
}

a:hover {
  text-decoration: none;
}

link:hover {
  text-decoration: none;
}

* {
  min-width: 100%;
}

.MuiContainer-root .MuiContainer-maxWidthLg {
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-width: 100%;
}

@media (min-width: 600px) {
  .MuiContainer-root .MuiContainer-maxWidthLg {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .MuiContainer-root .MuiContainer-maxWidthLg {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 100%;
    max-width: 100%;
  }
}
